# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.idea/
*.sln
*.suo
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.xcodeproj
*.xcworkspace

# OS
.DS_Store
Thumbs.db

# IDE / generated
.vscode/
